<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/portifolio.css">
    <title>Meu Portifolio</title>
</head>
<body>
    <header>
        <nav>
            <li>
                <a href="#teste" class="menu">
                    Meu projetos 
                </a>
            </li>
            <li>
                <a href="/templates/portifolio/index.html" class="menu">
                    Conhecimentos 
                </a>
            </li>
            <li>
                <a href="Contato" class="menu">
                    Contato
                </a>
            </li>
        </nav>
    </header>
    <section class="meus-projetos" id="teste">
        <div class="teste">
            <div class="new">
                <h2>Site cotas </h2>
            </div>
            <div class="projetos">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis odio saepe repellendus quae culpa asperiores, laboriosam vitae debitis eius quasi alias reprehenderit ut doloribus quisquam, odit magnam aut sit! Sunt.
                </p>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" class="logos">
                </a>
            </div>
        </div>
        <div class="teste">
            <div class="new">
                <h2>
                    Site B-Tec
                </h2>
                
            </div>
            <div class="projetos">
                <p class="testoo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis odio saepe repellendus quae culpa asperiores, laboriosam vitae debitis eius quasi alias reprehenderit ut doloribus quisquam, odit magnam aut sit! Sunt.
                </p>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" class="logos">
                </a>
            </div>
        </div>
        <div class="teste">
            <div class="new">
                <h2>
                    Pagina de Pagamento 
                </h2>
            </div>
            <div class="projetos">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis odio saepe repellendus quae culpa asperiores, laboriosam vitae debitis eius quasi alias reprehenderit ut doloribus quisquam, odit magnam aut sit! Sunt.
                </p>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" class="logos">
                </a>
            </div>
        </div>
                <div class="teste">
            <div class="new">
                <h2>
                   Loja Virtual
                </h2>
            </div>
            <div class="projetos">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis odio saepe repellendus quae culpa asperiores, laboriosam vitae debitis eius quasi alias reprehenderit ut doloribus quisquam, odit magnam aut sit! Sunt.
                </p>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" class="logos">
                </a>
            </div>
        </div>
    </section>
    <br>
    <section class="nodgle">
        <div class="conhecimentos">
            <p>
                HTML & CSS 
            </p>
        </div>
        </div>
        <div class="conhecimentos">
            <p>
                JS
            </p>
        </div>
        <div class="conhecimentos">
            <img src="#" alt="">
            <p>
                PYTHON
            </p>    
        </div>
        <div class="conhecimentos">
            <p>
                INGLÊS
            </p>
        </div>
        <div class="conhecimentos">
            <p>
                FRANÇES
            </p>
        </div>
        <div class="conhecimentos">
            <p>
                GIT & GITHUB
            </p>
        </div>
        <div class="conhecimentos">
            <p>
                LINUX
            </p>
        </div>
    </section>
    <br>
    <section class="contato">
        <div class="form">
            <form action="" method="post">
                <h2>
                    Entre em contato ! 
                </h2>
               <a href="https://wa.me/5511911391768" target="_blank" rel="noopener noreferrer">
                <button type="button">Mandar mensagem </button>
               </a>
               <label for="Cvc">
                <a href="#" download="">
                    Baixar CVC
                </a>
               </label>
               <label for="github">
                <a href="https://github.com/GuilhermeStn" target="_blank">
                    Meu github
                </a>
               </label>
            </form>
        </div>
    </section>
</body>
</html>