<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Site-Cotas</title>
    <script src="dados-fundos.js"></script>
</head> 
<body>
    <header>
        Bem-vindo ao Site-Cotas!
        <nav class="nav-bar">
                <li>
                    <a href="contato" target="_blank">Contato</a>
                </li>
                <li>
                    <a href="pagamento" target="_blank">Pagamento</a>
                </li>
                <li>
                    <a href="#">Informações</a>
                </li>
        </nav>
    </header>
    <form action="" method="post">
        <label for="Nome-fundo">
            Nome do Fundo:
            <input type="text" name="Nome-fundo" id="Nome-fundo" class="base" required>
        </label>
        <label for="Valor-cota">
            Valor da Cota:
            <input type="text" name="Valor-cota" id="Valor-cota" class="base" required>
        </label>
        <label for="Quantidade-cota">
            Quantidade de Cotas: 
            <input type="number" name="Quantidade-cota" id="Quantidade-cota" class="base" required>
        </label>
        <br>
        <input type="submit" value="Enviar" id="submit-btn">
    </form>
</body>
</html>