<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <script src="/static/dados-fundos.js"></script>
    <title>Site-Cotas</title>
</head> 
<body>
    <header>
        Bem-vindo ao Site-Cotas!
        <nav class="nav-bar">
                <li>
                    <a href="index.html" target="_blank">Contato</a>
                </li>
                <li>
                    <a href="sobre.html" target="_blank">Informações</a>
                </li>
        </nav>
    </header>
    <form action="" method="post">
        <label for="Nome-fundo">
            Nome do Fundo:
            <input type="text" name="Nome-fundo" id="Nome-fundo" class="base" required>
        </label>
        <label for="Valor-cota">
            Valor da Cota:
            <input type="text" name="Valor-cota" id="Valor-cota" class="base" required>
        </label>
        <label for="Quantidade-cota">
            Quantidade de Cotas: 
            <input type="number" name="Quantidade-cota" id="Quantidade-cota" class="base" required>
        </label>
         <label for="Rendimento-cota">
            Rendimento de Cotas: 
            <input type="number" name="Rendimento-cota" id="Rendimento-cota" class="base" required>
        </label>
        <br>
        <button type="button" class="base" onclick="base()" value="Enviar">
            Enviar
        </button>
    </form>
</body>
</html>