<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/fundo.css">
</head>
<body>
    <header>
        <nav>
            <img src="/imgs/investimento-imobiliario.png" alt="img-fundo" id="img-fundo">
            <h1>
                Descubra sobre os fundos Imbiliarios
            </h1>
            <a href="#">Home</a>
            <a href="#">Contato</a>
        </nav>
    </header>
    <h2>
        Explicação (Fills)
    </h2>
    <div class="info">
        <div id="conteudo">
            <p>
                Um fundo imobiliário (FII) é um investimento coletivo em que várias pessoas aplicam dinheiro em imóveis ou ativos do setor imobiliário. Os lucros, como aluguéis, são distribuídos aos investidores. É uma forma prática de investir em imóveis pela bolsa, com menor custo inicial, mas que também envolve riscos.
    
            </p>
        </div>
        <div>
            <ul>
                <h3>Canais que podem lhe ajudar</h3>
                <a href="#">
                    Primeiro
                </a>
                <a href="#">
                    Segundo
                </a>
                <a href="#">
                    Terceiro
                </a>
            </ul>
        </div>
    </div>
    <br>
    <h2>
        Mais Reconhecidos no Mercado ! 
    </h2>
    <section>
        <div class="sobre">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse repudiandae quia necessitatibus totam molestiae. Ab neque saepe eum consequatur a illo repudiandae accusamus obcaecati placeat? Ea, aperiam impedit. Rem, maxime.
            </p>
        </div>
        <div class="sobre">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse repudiandae quia necessitatibus totam molestiae. Ab neque saepe eum consequatur a illo repudiandae accusamus obcaecati placeat? Ea, aperiam impedit. Rem, maxime.
            </p>
        </div>
        <div class="sobre">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse repudiandae quia necessitatibus totam molestiae. Ab neque saepe eum consequatur a illo repudiandae accusamus obcaecati placeat? Ea, aperiam impedit. Rem, maxime.
            </p>
        </div>
        <div class="sobre">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse repudiandae quia necessitatibus totam molestiae. Ab neque saepe eum consequatur a illo repudiandae accusamus obcaecati placeat? Ea, aperiam impedit. Rem, maxime.
            </p>
        </div>
    </section>
    <h2>
        Motivos de investimentos em Fundos ! 
    </h2>
</body>
</html>